.indexPage {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/images/bg.jpg") no-repeat 100% 100%/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .main {
    width: 360px;
    background: #fff;
    border-radius: 8px;
    .title {
      font-weight: bolder;
      font-size: 18px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .grids {
      display: flex;
      flex-wrap: wrap;
      .grid {
        width: calc(100%/3);
        min-height: 100px;
        border: 1px solid #eee;
        .gridImg {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80px;
          padding: 10px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
        .gridName {
          border-top: 1px solid #eee;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
        }
      }
    }
    .control {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
    }
  }
}

.resultModal {
  margin-top: 16px;
  .thumb {
    display: flex;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .name {
    margin-top: 8px;
    display: flex;
    align-items: center;
  }
}
