.manageLayout {
  min-height: 100vh;
  min-width: 1440px;
  :global {
    .ant-menu-item {
      margin-top: 0;
    }
  }
  .header {
    height: 50px;
    background:linear-gradient(270deg,rgba(102,204,255,1) 0%,rgba(173,132,255,1) 100%);
    box-shadow:0px 0px 17px 0px rgba(84,110,130,0.3);
    font-size: 16px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      height: 50px;
      display: flex;
      align-items: center;
      img {
        display: inline-block;
        max-width: 100%;
        max-height: 40px;
      }
    }
  }
  .contentWrap {
    padding: 10px 16px;
    background: #EEF5FD;
    .breadcrumbs {
      margin-bottom: 10px;
      :global {
        .ant-breadcrumb {
          font-size: 12px;
        }
      }
    }
    .content {
      border-radius:6px;
      background: #fff;
    }
  }
}
